<section>
	<h2>Editing Department</h2>

	<%= render 'form', department: @department %>

	<%= link_to 'Show', @department %> |
	<%= link_to 'Back', departments_path %>
</section>
<!-- aniltimt@gmail.com
rkmyebooks@gmail.com
attriamit8@gmail.com

attriamita -->