<section>
  <div  class="container">
    <h2>HR ProFile Pre-Employment Screening, Background Checks </h2>

    Today’s legal and business environments demand that employers make compliant, smart and informed hiring decisions. Not only is it important to recruit and hire skilled workers who strengthen their employers’ market presence, but it is equally important that those workers do not become a liability.

    That is why since 1991, HR ProFile has provided timely, accurate and cost-effective pre-employment screenings, background checks and drug testing to large and small businesses throughout the country.
    <br/>
    As America’s preeminent employment screening firm, we continue to grow while remaining laser focused on delivering quality results and optimal customer care to HR professionals who outsource their background screening process.

    Today’s legal and business environments demand that employers make compliant, smart and informed hiring decisions. Not only is it important to recruit and hire skilled workers who strengthen their employers’ market presence, but it is equally important that those workers do not become a liability.

    That is why since 1991, HR ProFile has provided timely, accurate and cost-effective pre-employment screenings, background checks and drug testing to large and small businesses throughout the country.
    <br/>
    <br/>

    As America’s preeminent employment screening firm, we continue to grow while remaining laser focused on delivering quality results and optimal customer care to HR professionals who outsource their background screening process.
    Today’s legal and business environments demand that employers make compliant, smart and informed hiring decisions. Not only is it important to recruit and hire skilled workers who strengthen their employers’ market presence, but it is equally important that those workers do not become a liability.

    That is why since 1991, HR ProFile has provided timely, accurate and cost-effective pre-employment screenings, background checks and drug testing to large and small businesses throughout the country.
    <br/>
    <br/>

    As America’s preeminent employment screening firm, we continue to grow while remaining laser focused on delivering quality results and optimal customer care to HR professionals who outsource their background screening process.
  </div>
</section>