  <div class="row center">
    <div class="form-group col-md-8">
        <label for="inputEmail3" class="col-md-4 control-label">Leave type</label>
      <%= f.text_field :leave_type,
                          :class=>"form-control col-md-4",
                          :placeholder=>"Leave Type" %></div>

    <div class="form-group col-md-8">
        <label for="inputEmail3" class="col-md-4 control-label">Number of leaves</label>
      <%= f.text_field :number_of_leave,
                          :class=>"form-control col-md-4",
                          :placeholder=>"number of leave" %></div>
    

  </div>